<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>RequestFilter</welcome-file>
    </welcome-file-list>
    <!--filtermapping-->
    <!--Write your url maps here-->
    <!--Url pattern start-->
    <servlet-mapping>
        <servlet-name>RequestHandler</servlet-name>
        <url-pattern>/RequestHandler/*</url-pattern>
    </servlet-mapping>
    <!--Url pattern stop-->
    <!--donot edit following if you are not clear-->
    <!--Url mapping start-->
    <filter>
        <filter-name>RequestFilter</filter-name>
        <filter-class>system.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RequestHandler</servlet-name>
        <servlet-class>system.RequestHandler</servlet-class>
    </servlet>
    <!--Url mapping end-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
